
.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}
.input {
   border: none;
   background-color: #dedede;
   color: #000;
   font-size: 18px;
   border-radius: 10px;
   height: 30px;
   padding: 10px;
}

.wrapper {
    width: 100;
}